<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #bttt{
            height: 100px;
            width:500px ;
            color: green;
            background-color: pink;
            text-align: center;
            font-size: xx-large;
            margin-left:530px;
            margin-top: 100px;
        }
        #font{
            font-size: xx-large;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <center><h1 id="font">you have sucessfully logged in</h1>
    </center>
    <button id="bttt"><a href="/"> click me to redirect on website</a></button>
</body>
</html>